@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Press+Start+2P&family=VT323&display=swap');

html {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: #211c35;
  color: white;
  font-family: Inter;
  margin: -1.4em 0 0 0;
}

span, #discord {
  margin: 1em;
  padding: .5em;
  cursor: pointer;
}

span:hover, #discord:hover {
  background-color: #605986;
}

#header > h1 {
  margin-left: 64px;
}

.card {
  margin: 1em;
  background-color: #343047;
  border: 1px solid rgb(248, 149, 36);
  border-radius: 8px;
}

.card:hover {
  background-color: #605986;
}

.card > p > a, #discord {
  color: white;
}

.card > img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#filter, #sort {
  margin: 1em;
}

#cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 12%;
}

@media (max-width: 1024px) {
  #cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 12%;
  }
}

@media (max-width: 768px) {
  #cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 12%;
  }
}

#header {
  background-color: #181522;
  margin-top: 0;
  padding: 1em 0;
}